<form [formGroup]="booksForm" (ngSubmit)="onSubmit()">
  <!-- <div class="mb-3">
    <label for="id" class="form-label"></label>
    <input type="number" id="id" class="form-control">
  </div> -->

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" id="name" class="form-control" formControlName="name">
  </div>

  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input type="text" id="author" class="form-control" formControlName="author">
  </div>

  <div class="mb-3">
    <label for="publisher" class="form-label">Publisher</label>
    <input type="text" id="publisher" class="form-control" formControlName="publisher">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
